.theBlueLagoon {
  background-image: linear-gradient(90deg, #191654, #43c6ac);
}

.petit {
  font-family: 'Petit Formal Script', cursive;
}

.marck {
  font-family: 'Marck Script', cursive;
}

.pinyon {
  font-family: 'Pinyon Script', cursive;
}

.league {
  font-family: 'League Script', cursive;
}

.dancing {
  font-family: 'Dancing Script', cursive;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.caveat {
  font-family: 'Caveat', cursive;
}

.satisify {
  font-family: 'Satisfy', cursive;
}

.courgette {
  font-family: 'Courgette', cursive;
}

.greatVibes {
  font-family: 'Great Vibes', cursive;
}

.sacramento {
  font-family: 'Sacramento', cursive;
}

.parisienne {
  font-family: 'Parisienne', cursive;
}

.damion {
  font-family: 'Damion', cursive;
}

.yellowtail {
  font-family: 'Yellowtail', cursive;
}

.apple {
  font-family: 'Homemade Apple', cursive;
}

.allura {
  font-family: 'Allura', cursive;
}

.cedarville {
  font-family: 'Cedarville Cursive', cursive;
}

.alex {
  font-family: 'Alex Brush', cursive;
}

.dafoe {
  font-family: 'Mr Dafoe', cursive;
}

.fredericka {
  font-family: 'Fredericka the Great', cursive;
}

.itallianno {
  font-family: 'Italianno', cursive;
}

.leckerli {
  font-family: 'Leckerli One', cursive;
}

.yesteryear {
  font-family: 'Yesteryear', cursive;
}

.norican {
  font-family: 'Norican', cursive;
}

.delafield {
  font-family: 'Mrs Saint Delafield', cursive;
}

.hotel {
  font-family: 'Grand Hotel', cursive;
}

.rochester {
  font-family: 'Rochester', cursive;
}

.arizonia {
  font-family: 'Arizonia', cursive;
}

.herr {
  font-family: 'Herr Von Muellerhoff', cursive;
}

.frijole {
  font-family: 'Frijole', cursive;
}

.kristi {
  font-family: 'Kristi', cursive;
}

.haviland {
  font-family: 'Mr De Haviland', cursive;
}

.candy {
  font-family: 'Emilys Candy', cursive;
}

.montez {
  font-family: 'Montez', cursive;
}

.amita {
  font-family: 'Amita', cursive;
}

.oleo {
  font-family: 'Oleo Script Swash Caps', cursive;
}

.belle {
  font-family: 'La Belle Aurore', cursive;
}

.faster {
  font-family: 'Faster One', cursive;
}

.rouge {
  font-family: 'Rouge Script', cursive;
}

.bungee {
  font-family: 'Bungee Shade', cursive;
}

.qwigley {
  font-family: 'Qwigley', cursive;
}

.shojumaru {
  font-family: 'Shojumaru', cursive;
}

.spirax {
  font-family: 'Spirax', cursive;
}

.dawning {
  font-family: 'Dawning of a New Day', cursive;
}

.sail {
  font-family: 'Sail', cursive;
}

.meddon {
  font-family: 'Meddon', cursive;
}

.clicker {
  font-family: 'Clicker Script', cursive;
}

.holtwood {
  font-family: 'Holtwood One SC', serif;
}

.zeyada {
  font-family: 'Zeyada', cursive;
}

.delius {
  font-family: 'Delius Swash Caps', cursive;
}

.eater {
  font-family: 'Eater', cursive;
}

.aguafina {
  font-family: 'Aguafina Script', cursive;
}

.tradeWinds {
  font-family: 'Trade Winds', cursive;
}

.euphoria {
  font-family: 'Euphoria Script', cursive;
}

.sonsie {
  font-family: 'Sonsie One', cursive;
}

.cherry {
  font-family: 'Cherry Swash', cursive;
}

.bilbo {
  font-family: 'Bilbo Swash Caps', cursive;
}

.codystar {
  font-family: 'Codystar', cursive;
}

.nosifer {
  font-family: 'Nosifer', cursive;
}

.elsie {
  font-family: 'Elsie', cursive;
}

.mashan {
  font-family: 'Ma Shan Zheng', cursive;
}

.bilboCursive {
  font-family: 'Bilbo', cursive;
}

.lilyScript {
  font-family: 'Lily Script One', cursive;
}

.sirinStencil {
  font-family: 'Sirin Stencil', cursive;
}

.fascinate {
  font-family: 'Fascinate Inline', cursive;
}

.saira {
  font-family: 'Saira Stencil One', cursive;
}

.ribeye {
  font-family: 'Ribeye Marrow', cursive;
}

.Vampiro {
  font-family: 'Vampiro One', cursive;
}

.ewert {
  font-family: 'Ewert', cursive;
}

.ruslan {
  font-family: 'Ruslan Display', cursive;
}

.srisakdi {
  font-family: 'Srisakdi', cursive;
}

.dynalight {
  font-family: 'Dynalight', cursive;
}

.sarina {
  font-family: 'Sarina', cursive;
}

.monsieur {
  font-family: 'Monsieur La Doulaise', cursive;
}

.lovers {
  font-family: 'Lovers Quarrel', cursive;
}

.diplomata {
  font-family: 'Diplomata SC', cursive;
}

.sheppards {
  font-family: 'Mrs Sheppards', cursive;
}

.ruthie {
  font-family: 'Ruthie', cursive;
}

.fajardose {
  font-family: 'Miss Fajardose', cursive;
}

.bonbon {
  font-family: 'Bonbon', cursive;
}

.molle {
  font-family: 'Molle', cursive;
}

.butterfly {
  font-family: 'Butterfly Kids', cursive;
}

.sevillana {
  font-family: 'Sevillana', cursive;
}

.bedfort {
  font-family: 'Mr Bedfort', cursive;
}

.bethellen {
  font-family: 'Beth Ellen', cursive;
}

.zhi {
  font-family: 'Zhi Mang Xing', cursive;
}

.warnes {
  font-family: 'Warnes', cursive;
}
