.marck {
  font-family: 'Marck Script', cursive;
}

.deepSeaSpace {
  background-image: linear-gradient(90deg, #2c3e50, #4ca1af);
}

.pinyon {
  font-family: 'Pinyon Script', cursive;
}

.marck {
  color: red;
}
